  <details>
    <summary>
      Menu
    </summary>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/cadastrarNovoServico">Cadastrar novo servico</a></li>
      <li><a href="/exibirTodosServicos">Listar todos os serviços</a></li>
      <li><a href="/buscandoServico">Busca específica de serviços</a></li>
    </ul>
  </details>

  <hr />


<h1>Buscar Serviço</h1>

    <hr>
    <form action="/buscandoServico/" method="post">
        
            <input type="text" name="nome" id="nome" placeholder="Pesquise pelo #nome">
              
        <input type="submit" value="Buscar">
    </form>

    <footer>
  <p>&copy;2023 Sistema Gerenciador de Serviços Funerários - Programadores Cariocas</p>
</footer>
