  <details>
    <summary>
      Menu
    </summary>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/cadastrarNovoServico">Cadastrar novo servico</a></li>
      <li><a href="/exibirTodosServicos">Listar todos os serviços</a></li>
      <li><a href="/buscandoServico">Busca específica de serviços</a></li>
    </ul>
  </details>

  <hr />

<h1>Cadastro de Serviços</h1>
    <hr>
    <form action="/busc/" method="post">
        
            <input type="text" name="id" id="id" placeholder="id">
              
        <input type="submit" value="Buscar">
    </form>