  <details>
    <summary>
      Menu
    </summary>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/cadastrarNovaLocacao">Cadastrar nova locação</a></li>
      <li><a href="/exibirTodasLocacoes">Listar todas as locações</a></li>
      <li><a href="/buscandoLocacao">Busca específica de locação</a></li>
    </ul>
  </details>

  <hr />


<h1>Buscar Locação</h1>

    <hr>
    <form action="/buscandoLocacao/" method="post">
        
            <input type="text" name="nome" id="nome" placeholder="Pesquise pelo #nome">
              
        <input type="submit" value="Buscar">
    </form>

    <footer>
  <p>&copy;2023 Sistema Gerenciador de Serviços Funerários - Programadores Cariocas</p>
</footer>
