<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Início</title>
  </head>
  <body>

<details>
<summary><h1>Seção de Clientes</h1></summary>

    <ul>
      <h2><a href="/">Início</a></h2>
      <h2><a href="/cadastroCliente">Cadastrar novo Cliente</a></h2>
      <h2><a href="/listarTodosClientes">Listar todos os Clientes</a></h2>
      <h5>
    <form action="/buscandoCliente/" method="post">
        
            <input type="text" name="nome" id="nome" placeholder="Pesquise por nome">
              
        <input type="submit" value="Buscar">
    </form></h5>
    </ul>
  </details>
  <hr />
<details>
<summary><h1>Seção de Dependentes</h1></summary>

    <ul>
      <h2><a href="/">Início</a></h2>
      <h2><a href="/cadastrodep">Cadastrar novo Cliente</a></h2>
      <h2><a href="/dependentes">Listar todos os Dependentes</a></h2>
      <h5>
    <form action="/buscandodep/" method="post">
        
            <input type="text" name="nome" id="nome" placeholder="Pesquise por nome">
              
        <input type="submit" value="Buscar">
    </form></h5>
    </ul>
  </details>
  <hr />
<details>
<summary><h1>Seção de Locações</h1></summary>

    <ul>
      <h2><a href="/">Início</a></h2>
      <h2><a href="/cadastrarNovaLocacao">Cadastrar nova locação</a></h2>
      <h2><a href="/exibirTodasLocacoes">Listar todas as locações</a></h2>
      <h5>
    <form action="/buscandoLocacao/" method="post">
        
            <input type="text" name="nome" id="nome" placeholder="Pesquise por nome">
              
        <input type="submit" value="Buscar">
    </form></h5>
    </ul>
  </details>
  <hr />
  <details>
<summary><h1>Seção de Produtos</h1></summary>
<hr>
<ul>
    <h2><a href="/">Home</a></h2>
    <h2><a href="/produto">Produtos</a></h2>
   <h2><a href="/buscando_produto">Buscar Produto</a></h2>
    <h2><a href="/cadastro_prod">Cadastrar Produto</a></h2>
    <h5>
    <form action="/buscaprod/" method="post">
        
            <input type="text" name="nome" id="nome" placeholder="Pesquise por nome">
              
        <input type="submit" value="Buscar">
    </form></h5>

</ul>
</details>

<hr>
<details>
<summary><h1>Seção de Serviços</h1></summary>
    <ul>
      <h2><a href="/">Início</a></h2>
      <h2><a href="/cadastrarNovoServico">Cadastrar novo serviço</a></h2>
      <h2><a href="/exibirTodosServicos">Listar todos os serviços</a></h2>
      <h5>
    <form action="/buscandoServico/" method="post">
        
            <input type="text" name="nome" id="servico" placeholder="Pesquise por servico">
              
        <input type="submit" value="Buscar">
    </form></h5>
    </ul>
</details>

  <hr />

    <footer>
      <p>&copy;2023 Sistema Gerenciador de Serviços Funerários - Programadores
        Cariocas</p>
    </footer>

  </body>
</html>