<summary>
<strong><h1>Dependentes</h1></strong>
<hr>
<ul>
    <li><a href="/">Início</a></li>
   <li><a href="/dependentes">Listar Dependentes</a> </li> 
    <li><a href="/buscadep">Buscar Dependentes</a></li>
   <li><a href="/cadastrodep">Cadastrar Novo Dependente</a></li> 
</ul>
</summary>
<hr>

<!--Cadastro-->
<h1>Buscar Dependentes</h1>
    <hr>
    <form action="/buscandodep/" method="post">
        
            <input type="text" name="id" id="id" placeholder="id">
              
        <input type="submit" value="Buscar">
    </form>