<summary>
<strong><h1>Dependentes</h1></strong>
<hr>
<ul>
    <li><a href="/">Início</a></li>
   <li><a href="/dependentes">Listar Dependentes</a> </li> 
    <li><a href="/buscadep">Buscar Dependentes</a></li>
   <li><a href="/cadastrodep">Cadastrar Novo Dependente</a></li> 
</ul>
</summary>
<hr>


<h1>Dependente</h1>
      
         
<h1> {{listarProd.nome_dependente}} </h1>

<p>Este dependente possui o cpf {{listarProd.cpf_dependente}}.</p>

<a href="/dependentes/edit/{{listarProd.id}}">Editar</a>
<a href="/dependentes/remove/{{listarProd.id}}" >excluir</a>