<summary>
<strong><h1>Seçao de Produtos</h1></strong>
<hr>
<ul>
    <li><a href="/">Início</a></li>
   <li><a href="/produto">Produtos</a> </li> 
    <li><a href="/buscando_produto">Buscar Produtos</a></li>
   <li><a href="/cadastro_prod">Cadastrar Produtos</a></li> 
</ul>
</summary>
<hr>
<h1>Busca de Produtos</h1>
    <hr>
    <form action="/buscaprod/" method="post">
        
            <input type="text" name="nome" id="nome" placeholder="nome">
              
        <input type="submit" value="Buscar">
    </form>
 <hr />

<footer>
      <p>&copy;2023 Sistema Gerenciador de Serviços Funerários - Programadores
        Cariocas</p>
</footer>