<summary>
<strong><h1>Seçao de Produtos</h1></strong>
<hr>
<ul>
    <li><a href="/">Início</a></li>
   <li><a href="/produto">Produtos</a> </li> 
    <li><a href="/buscando_produto">Buscar Produtos</a></li>
   <li><a href="/cadastro_prod">Cadastrar Produtos</a></li> 
</ul>
</summary>
<hr>
<h1>Produto</h1>
      
         
<h1> {{listarProd.nome}} </h1>

<p>Este item tem {{listarProd.qtd}} unidades em estoque</p>

<a href="/produto/edit/{{listarProd.id}}">Editar</a>
<a href="/produto/remove/{{listarProd.id}}" >excluir</a>

 <hr />

    <footer>
      <p>&copy;2023 Sistema Gerenciador de Serviços Funerários - Programadores
        Cariocas</p>
    </footer>