 <details>
    <summary>
      Menu
    </summary>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/cadastroCliente">Cadastrar novo Cliente</a></li>
      <li><a href="/listarTodosClientes">Listar todas os Clientes</a></li>
      <li><a href="/buscarCliente">Busca específica Clientes</a></li>
    </ul>
  </details>

  <hr />



<h1>Busca de Cliente por nome</h1>
    <hr>
    <form action="/buscandoCliente/" method="post">
        
            <input type="text" name="nomecliente" id="nomecliente" placeholder="Nome">
              
        <input type="submit" value="Buscar">
    </form>