 <details>
    <summary>
      Menu
    </summary>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/cadastroCliente">Cadastrar novo Cliente</a></li>
      <li><a href="/listarTodosClientes">Listar todas os Clientes</a></li>
      <li><a href="/buscarCliente">Busca específica Clientes</a></li>
    </ul>
  </details>

  <hr />
<br /><br />

<h1>Cadastro de Clientes</h1>
<hr />
<form action="listarTodosClientes/insertprod" method="POST">
  <div class="form-control">
    <input type="hidden" name="id" id="id" />
    <label for="nomecliente">Nome:</label>
    <input type="text" name="nomecliente" id="nomecliente" placeholder="Digite seu nome" />
  </div>
  <br />
  <div class="form-control">
    <label for="cpfcliente">CPF:</label>
    <input type="varchar" name="cpfcliente" id="cpfcliente" placeholder="Digite seu cpf" />
  </div>
  <br />
  <div class="form-control">

    <label for="idadecliente">Idade:</label>
    <input
      type="number"
      name="idadecliente"
      id="idadecliente"
      placeholder="Digite sua idade"
    />
  </div>
  <br />
  <div class="form-control">
    <label for="telefonecliente">telefone:</label>
    <input
      type="tel"
      name="telefonecliente"
      id="telefonecliente"
      placeholder="Digite seu telefone"
    />
  </div>

  <br />
  <input type="submit" value="Cadastrar" />
</form>

<br /><br /><br /><br /><br /><br /><br /><br /><br />

<!--footer-->
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a
              href="https://br.linkedin.com/in/enrickmagalhaes"
              class="text-dark"
            >Linkedin - Enrik Magalhães</a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/rogerio-sjunior"
              class="text-dark"
            >Linkedin - Rogério Junior</a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/david-dos-santos-coelho-96390b252"
              class="text-dark"
            >Linkedin - David Coelho</a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/leila-k%C3%A9ssia-a13ab117b"
              class="text-dark"
            >Linkedin - Leila Kessia</a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/caio-cassiano-55b24b1b4"
              class="text-dark"
            >Linkedin - Caio Cassiano </a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Programadores Cariocas:
    <a class="text-dark" href="https://mdbootstrap.com/">Backend - Mode 5</a>
  </div>
  <!-- Copyright -->
</footer>

<style>
  #navbar{ border: solid black 2px; background-color: aqua; }

</style>